<div _ngcontent-c7="" class="grid-container">
    <div class="box">
        <button
        routerLink="/Verification" routerLinkActive="active">
        <img src="img/s.png"  class="img-fixed" alt="Verification" width="54" height="54"/>
        <br/>
        Verification
        </button>
    </div>
     <div class="box">
        <button
        routerLink="/Verification" routerLinkActive="active">
        <img src="img/Authorizarion.png"   class="img-fixed" alt="Verification" width="44" height="44"/>
        <br/>
        Authorizarion
        </button>
    </div>
     <div class="box">
        <button
        routerLink="/Verification"   routerLinkActive="active">
        <img src="img/GFE.png"  class="img-fixed" alt="Verification" width="54" height="54"/>
        <br/>
        GFE
        </button>
    </div>
     <div class="box">
        <button
        routerLink="/Verification" routerLinkActive="active">
        <img src="img/notification.png" class="img-fixed" alt="Verification" width="54" height="54"/>
        <br/>
            Notification
        </button>
    </div>
     <div class="box">
        <button
        routerLink="/Verification" routerLinkActive="active">
        <img src="img/Reports.png" class="img-fixed" alt="Verification" width="54" height="54"/>
        <br/>
            Reports
        </button>
    </div>
     <div class="box">
        <button
        routerLink="/Verification" routerLinkActive="active">
        <img src="img/maintenance.png" class="img-fixed" alt="Verification" width="54" height="54"/>
        <br/>
          Maintenance
        </button>
    </div>
   
</div>

